.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  height: 100%;
  max-width: 900px;
  position: sticky;
  top: 0;
  display: inline;
  margin-left: 20px;
}

// .mapboxgl-canvas {
//   width: 300px;
// }
