.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  height: 100%;
  width: 50%;
  position: sticky;
  top: 0;
  display: inline;
}

// .mapboxgl-canvas {
//   width: 300px;
// }
