.navbar-lewagon {
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--main-accent-color);
  font-color: white;
  // background: linear-gradient(to right, #e96443, #904e95);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.avatar {
  width: 50px;
  border-radius:50%;
  object-fit: contain;
}
