

:root {
  --small-green-circle: #78eea6;
  --main-accent-color: #9b45e4;
  --secondary-accent-color: #e13a9d;
}

.cards {
  // display:grid;
  // grid-template-columns: 1fr 1fr;
  // grid-gap: 16px;
  // display:flex;
  // flex-direction: row;
  // width: 100%;
  column-count: 2;
  column-gap: 5px;
  // padding: 5px;
  // overflow: scroll;
}

.profile-card {
  background-color:white;
  width: 400px;
  border-radius: 5px;
  box-shadow: 5px 5px #F7F2F2;
  margin-left: 5px;
  border: solid 1px #888888;
  padding: 10px 10px;
  display:flex;
  flex-direction: column;
  // justify-content: space-around;
  // flex-wrap: wrap;
  // grid-gap: 16px;
  // margin: 0 auto;
  // border: solid;
  // justify-content: space-around;

 }

 .profile-card-footer{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-size:15px;
 }

 .profile-card-price {
  margin: 0 10px 20px;
 }

 .card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
 }


.card__action__button {
  padding: 11px;
  width: 100px;
  height:100px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  position: relative;
  font-size: 10px;
}

.card__action__button:before {
  content: "";
  position: absolute;
  border-radius: 0.5em;
  transition: all 0.35s ease-in-out;
}


.card__action--follow {
  background-color: var(--main-accent-color);
  text-decoration:none;

   &:hover{
    background-color:rgb(94, 33, 92);
    transition: 0.2s;
    color: white;
    text-decoration:none;
  }
}


// @media (min-width: 425px) {
//   .card {
//     padding: 5px;
//   }

//   .card:after {
//     top: 50px;
//     right: 160px;
//   }
// }
